<style>
  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
}
</style>
<footer>
  <div class="footer">
    <p><b>Brought To You By: Jefri Dimar Y & Muhammad Husni Rizal</b></p>
  </div>
</footer> 
