<style>
    nav {
        text-align: center;
    }
</style>

<nav>
    <a href="/" style="text-decoration: none; color: blue;">
        <h1>Movie Webapp!</h1>
    </a>
    <h4><%= pageName %></h4>
    <a href="/">Home</a>
    <a href="/prodhouse">Production Houses</a>
    <a href="/movie">Movies</a>
    <a href="/cast">Casts</a>
</nav>
