<style>
    nav {
        text-align: center;
    }
</style>

<nav>
    <a href="/" style="text-decoration: none; color: blue;">
        <h1>WebDevFEST - Where developers meet and learn!</h1>
    </a>
    <h4><%= pageName %></h4>
    <a href="/">Home</a>
    <a href="/event">Events</a>
    <a href="/user">Users</a>
</nav>
