<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <%- include('navbar') %>

  <h1>Login</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="username"/><br><br>
    <input type="password" name="password" placeholder="password"/><br><br>
    <button type="submit">login</button>
    <p>Not registered? <a href="/register">Create an account</a></p>
  </form>

  <%- include('footer') %> 
</body>
</html>