<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Web Dev FEST - Turbocharge your developer skills!</title>
  <%- include ('partials/navbar.ejs', {pageName: "Home"})%>
</head>
<body>
    <h1>Welcome to WebDevFEST!</h1>
</body>
<%- include ('partials/footer.ejs') %> 
</html>
