<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Web Dev FEST - Turbocharge your developer skills!</title>
</head>
<body>
  <%- include('partials/navbar') %> 

  <h1>Web Development FEST</h1>
  
</body>

<%- include('partials/footer') %> 
</html>
